* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}


main {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

.topmenu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contacts {
    font-size: 19px;
    display: inline-block;
}

.phone {
    display: inline-block;
    margin-right: 10px;
}

    .phone li {
        display: inline;
        list-style: none;
    }

.registr {
    display: inline-block;
    border-radius: 5px;
    padding: 3px;
background: linear-gradient(120deg, rgb(21, 76, 111) 30%, rgb(15, 60, 97) 73%);
    box-shadow: 1px 4px 6px 0px #808080;
    margin: 0 auto;
        margin-left: -23px;
}

    .registr li {
        display: inline;
        list-style: none;
    }

.map {
    border: 1px solid grey;
    border-radius: 10px;
    width:55px;
    box-shadow: 0px 1px 6px -1px #232323;
    display: inline-block;
    margin-left: 20px;
}

.enter {
    border: 0;
    background: linear-gradient(120deg, rgb(21, 76, 111) 30%, rgb(15, 60, 97) 73%);
    color: white;
    margin-left: 5px;
    font-size: 11px;
}


.pass {
    border: 0;
    background: linear-gradient(120deg, rgb(21, 76, 111) 30%, rgb(15, 60, 97) 73%);
    color: #D3D3D3;
    text-decoration: underline;
    margin-right: 10px;
    margin-left: 25px;
    font-size: 11px;
}

.reg {
    border: 0;
    background: linear-gradient(120deg, rgb(21, 76, 111) 30%, rgb(15, 60, 97) 73%);
    color: white;
    font-size: 11px;
}

.menu-container {
    background: linear-gradient(to bottom, #393945 0%, #000000 100%);
    padding-bottom: 35px;
    border-radius: 5px;
    box-shadow: 3px 3px 11px 1px #232323;
    width: 910px;
}

.menu a {
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 0 auto;
    color: #B1BCC0;
}

ul.menu li {
    display: inline;
    list-style: none;
    float: left;
}

.menu a:hover {
    padding: 10px;
    color: white;
    background-color: rgb(21, 75, 109);
    border-radius: 30px;
}

/*.menu li a:first-child {
    margin-left: 35px;
}*/
.menu li a:nth-child(n+2):nth-child(-n+4) {
    margin-left: 80px;
}

/*li:nth-last-child(2) {
    margin-left: 15px;
}

li:nth-last-child (1){
    margin-right: 45px;
}*/
.span {
    font-size: 13px;
    color: rgb(13,90,143);
    margin-left: 5px;
}

.reserch {
    margin-top: 11px;
    margin-bottom: 22px;
    height: 130px;
}

.first_section {
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 3px -4px 4px -1px #acacac;
    width: 415px;
    height: 135px;
    float: left;
        margin-right: 15px;
}

.second_section {
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 3px -4px 4px -1px #acacac;
    width: 190px;
    height: 135px;
    float: left;
    text-align: left;
 
}

.third_section {
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 3px -4px 4px -1px #acacac;
    width: 265px;
    height: 135px;
    float: right;
}

#find {
    font-size: 13px;
    color: rgb(21,68,103);
    font-weight: 800;
    float: left;
    width: 60%;
}
#fin{
    font-size: 10px;
    color: rgb(21,68,103);
    font-weight: 800;
 float: left;
    width: 20%;
}

#fin1{
    font-size: 10px;
    color: rgb(21,68,103);
    font-weight: 800;
    float: right;
    width: 20%;
}

keygen, select, select[size="0"], select [size="1"] {
    border: 0;
    box-shadow: -1px -1px 2px -1px #000000;
    height: 20px;
}

select {
    color: rgb(21, 75, 109);

}

.circle {
 width: 11px;
     height: 0px;
padding-top: 11px;
  border: 6px solid rgb(17,65,101);
  border-radius:50%
  

}
.py{
    margin-top: -4px;
    margin-left: 5px;
    margin-bottom: -20px;
}
.der{
    margin-right: 15px;

}
.pointer{
    border: 1px solid #acacac;
    border-radius: 15px;
    width: 137px;
    height: 15px;
    color: rgb(17,65,101);
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
        margin-left: 13px;
            margin-bottom: 5px;
}
.forms{
    float: left; 
    width: 46%; 
    text-align: left;
    margin-top: -2px;
}
.cols60{
    float: left;
    line-height: 10px;
     width: 60%;
     text-align: left;
}
.sel40{
    float: right; 
    width: 40%;
   text-align: left;
}
.sel{
    float: right; 
    width: 50%;
   text-align: left;
}
.sub {
    float: left;
     width: 50%;
     text-align: left;
}
.sub1{
    float: right; 
    width: 50%;
    text-align: left;
}
.name {
    color: black;
    font-size: 11px;
    padding-left: 17px;
}

.subname {
    color: rgb(119, 133, 139);
    font-size: 11px;
padding-left: 17px;
}

.shyn {
    float: right;
    width: 54%;
    margin-top: -2px;
}
.row {
    padding-top:4px;
    clear:both;
}
.cols{
    float: left;
    line-height: 10px;
     width: 50%;
     text-align: left;
}
.searchtires {
    font-size: 13px;
    color: rgb(21,68,103);
    font-weight: 800;
    width: 55%;
    margin-bottom: 6px;
}
#size{
        color: black;
    font-size: 11px;
    margin-bottom: 5px;
}

.searchdisk {

    float:left;
    border-right: 1px solid #929292;
position: relative;
    height: 106px;
    margin-left: -5px;
    width: 155px;
}
.searchdisk2 {
    width: 35%;
    float: right;
    text-align: left;
    /*margin-top: -20px;*/
}
.searchbutton{
    text-decoration: underline; 
    border: 0px; 
    background-color: white;
     color: rgb(13,52,88); 
     font-size: 15px; 
     cursor: pointer;
}

.pd{
    font-size: 13px;
    color: rgb(21,68,103);
    font-weight: 800;
    width: 55%;
}
 


.container{
    width: 900px; /* Ширина макета */
 margin: 0 auto; /* Выравнивание по центру */
     clear: both;
}
.nav{
    width: 190px; /* Ширина левой колонки */
 float: left;
     margin-left: -3px;
}
.aside{
    width: 190px; /* Ширина правой колонки */
 float: right;
     margin-right: -15px;
}
.int{
    border: 1px solid #acacac;
    border-radius: 15px;
    width: 180px;
    height: 20px;
    color: rgb(17,65,101);
    font-size: 14px;
    padding-bottom: 5px;
   box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
   margin-bottom: 15px;
}
.ter {
        margin-right: 65px;
    margin-top: -22px;
}
.foraside{
    width: 80px;
    border: 1px solid rgb(17,65,101);
    border-radius: 15px;
    background-color: rgb(17,65,101);
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
        margin-right: 62px;
    
}
.content{
     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E3E6E7),color-stop(1, #93A7B0));
     width: 520px;
     display: inline-block;
     height: 620px;
}
.line {
    width: 520px;
}

var {
    font-weight: bold;
    font-style: italic;
    color: rgb(17,65,101);
}
p{
    font-family: Verdana;
    color: black;
    font-size: 12px;
}
td a {
    text-decoration: none;
}
 td:hover {
    -webkit-transition: all 1s 0.1s ease-in;
cursor: pointer;
-webkit-transform: rotate(360deg);
}
h4 {
    color: rgb(32,105,136);
}

figure{
    border: 1px solid rgb(119, 133, 139);
    border-radius: 10px;
    width: 135px;
    background-color: white;
    padding-top: 2px;
    box-shadow: 0px 2px 5px 1px rgba(179,177,179,0.67);
}
.nomination {
     text-align: center; 
    font-size: 13px; 
    line-height: 2;
}  
.nomination label {
    display: inline-block;
    cursor: pointer;
    position: relative;
}
input[type=radio] {
	display: none;
}

input[type=radio]:checked + label:before {
    content: url(../img/sdf.png);
    margin-left: 4px;
}

input[type=radio] + label:before {
    content: url(../img/asdff.png);
    margin-left: 4px;
}

input[type=radio]:checked + label {
    font-weight: bold;
    font-style: italic;	
}

 .lauma {
     text-align: -webkit-center;
 }
.picture{
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
}

.piero{
  padding-right: 15px;
}
input[type="checkbox" i] {
box-shadow: inset 1px 1px 1px 1px rgba(17, 65, 101, 0.55);

}
.qaz{
       text-align: left;
    font-size: 12px;
    line-height: 2;
    margin-left: 25px;
        margin-bottom: 9px;
}

footer {
    background-color: rgb(33,58,77);
    height: 100px;
}

.Foot {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
}
.Foot li {
     display: inline;
    list-style: none;
    float: left;
}


.Foot a {
   padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin: 0 auto;
    color: rgb(190, 198, 201);
}
.Foot a:hover {
   color: rgb(82,171,203);
}

.footer {
    color: rgb(127, 71, 64);
    font-size: 10px;
}

.trish {
 border-left: 1px solid rgb(190, 198, 201); 
        color: rgb(33,58,77); 
    height: 12px;
     margin-top: 3px;
}